<%- include('./includes/header.ejs')%>

<h1>Welcome to <span class="logo-text">Attainu</span> Forum</h1>
<p class="text-white text-center font-weight-lighter">We're Here To Help You By collabarating with Each Other. <a href="/create" class="logo-letter">Click Here</a> To Continue</p>

<%- include('./includes/footer.ejs')%>
