<%- include('./includes/header.ejs')%>

<div class="container">
    <div class="row mt-5">
        <div class="col-8 offset-md-2 mt-5">
            <div class="card border-0 mt-5">
                <div class="card-header top-nav">
                    <h3 class="text-center logo-letter">Login</h3>
                </div>
                <div class="card-body">
                    <form action="/users/register" method="POST" enctype="multipart/form-data">
                        <p class="my-4"></p>
                        <div class="form-group">
                            <label for="email" class="logo-letter1">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="logo-letter1">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn top-nav text-white">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./includes/footer.ejs')%>