<%- include('./includes/header.ejs')%>

<div class="container">
    <div class="row mt-5">
        <div class="col-8 offset-md-2 mt-5">
            <div class="card border-0 mt-5">
                <div class="card-header top-nav">
                    <h3 class="text-center logo-letter">Register</h3>
                </div>
                <div class="card-body">
                    <form action="/users/register" method="POST" enctype="multipart/form-data" autocomplete="on">
                        <p class="my-4 text-danger"><%= typeof error !== 'undefined' ? error : '' %></p>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="fname" class="logo-letter1">First Name</label>
                                    <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="lname" class="logo-letter1">Last Name</label>
                                    <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="logo-letter1">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="password" class="logo-letter1">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="cpassword" class="logo-letter1">Confirm Password</label>
                                    <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn top-nav text-white">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./includes/footer.ejs')%>